<h1>Scrabble Game</h1>
<form action="/score">

  <div class="form-group">
     <label for="score">Type in your sentence here!! </label>

     <input id="score" name="score" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Send</button>

</form>
